# Gradle properties with credentials
android/gradle.properties

# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# IDE files
.idea/
*.iml
.DS_Store

# Captures
/captures

# External Native Build
.externalNativeBuild

# C++
.cxx